@use "../abstracts/" as a;

*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: a.$ff-sansNormal;
	font-size: a.$fs400;
	background-color: a.$clr-dark;
	color: a.$clr-white;
	min-height: 100vh;
	line-height: 1.5;
	display: grid;
	grid-template-rows: min-content 1fr;
	overflow-x: hidden;
}

img,
picture {
	max-width: 100%;
	display: block;
	height: auto;
}

input,
textarea,
button,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
